@import "../../../styles/colors.scss";

.change_password_form {
	padding: 20px 15px;

	> h4 {
		color: $primary;
		font-size: 22px;

		> span {
			font-weight: 100;
			font-size: 14px;
		}
	}

	> form {
		text-align: center;
		> Button {
			padding: 12px 60px;
		}
	}
}
